.content {
  margin: 0 auto;
  color: $color--info;

  &--collection {
    display: inline-flex;
    flex-direction: row;
    justify-content: start;

    &__item {
      display: inline-block;
      @include font--16_line--26;

      &:nth-child(1) {
        width: 136px;
      }

      &:nth-child(2) {
        width: 64px;
      }

      &:nth-child(3) {
        width: 389px;
      }
    }
  }
}
