.slogan {
  > * {
    margin: 0 auto;
    color: $info-color;
    text-align: center;
  }

  &--heading {
    text-transform: capitalize;
    color: $dark-color;
    width: 784px;
    font-size: 40px;
    line-height: 60px;
  }

  &--sub-heading {
    width: 570px;
    font-size: 18px;
    line-height: 29px;
  }

  &--collection {
    display: inline-flex;
    flex-direction: row;
    justify-content: start;
  }

  &__item {
    display: inline-block;
    @include font--16_line--26;

    &:nth-child(2) {
      width: 389px;
      text-align: left;
      margin-left: 4px;
    }
  }
}
