.triangle {
    position: relative;
    width:0;
    border-bottom:solid 50px black;
    border-right:solid 30px transparent;
    border-left:solid 30px transparent;
}
.triangle .empty {
    position: absolute;
    top:9px;
    left:-21px;
    width:0;
    border-bottom:solid 36px white;
    border-right:solid 21px transparent;
    border-left:solid 21px transparent;
}

.demo {
    background-color: red;
    width: 70px;
    margin: 100px auto;
}

@keyframes spin {
    0% {
        transform : rotate(0deg);
    }
    5% {
        transform : rotate(18deg);
    }
    10% {
        transform : rotate(36deg);
    }
    15% {
        transform : rotate(54deg);
    }
    20% {
        transform : rotate(72deg);
    }
    25% {
        transform : rotate(90deg);
    }
    30% {
        transform : rotate(108deg);
    }
    35% {
        transform : rotate(126deg);
    }
    40% {
        transform : rotate(144deg);
    }
    45% {
        transform : rotate(162deg);
    }
    50% {
        transform : rotate(180deg);
    }
    55% {
        transform : rotate(198deg);
    }
    60% {
        transform : rotate(216deg);
    }
    65% {
        transform : rotate(234deg);
    }
    70% {
        transform : rotate(252deg);
    }
    75% {
        transform : rotate(270deg);
    }
    80% {
        transform : rotate(288deg);
    }
    85% {
        transform : rotate(306deg);
    }
    90% {
        transform : rotate(324deg);
    }
    95% {
        transform : rotate(342deg);
    }
    100% {
        transform : rotate(360deg);
    }
}

.spin--around {
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
}