<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <header class="clearfix main-header">
      <nav class="float-right">
        <ul class="nav-list">
          <li class="inline-block item">
            <a href="" class="link">Home</a>
          </li>
          <li class="inline-block item">
            <a href="" class="link">About</a>
          </li>
          <li class="inline-block item">
            <a href="" class="link">Features</a>
          </li>
          <li class="inline-block item">
            <a href="" class="link">Screenshots</a>
          </li>
          <li class="inline-block item">
            <a href="" class="link">Team</a>
          </li>
          <li class="inline-block item dropdown">
            <a href="" class="link">
              News
              <span class="inline-block arrow"></span>
            </a>
            <ul class="list">
              <li class="item">
                <a href="" class="inline-block link">Recent News</a>
              </li>
              <li class="item">
                <a href="" class="inline-block link">News One</a>
              </li>
              <li class="item">
                <a href="" class="inline-block link">News Two</a>
              </li>
            </ul>
          </li>
          <li class="inline-block item">
            <a href="" class="link">Contact</a>
          </li>
        </ul>
      </nav>
    </header>

    <section id="product">
      <!-- <div class="product_backgournd"></div> -->
      <div class="container">
        <div class="product_left">
          <div class="product_intro">
            <p class="product_sub-title">
              With us you with
            </p>
            <h1 class="product_title">
              succeed
            </h1>
            <p class="product_text">
              Proactively syndicate open-source e-markets after low-risk high-yield synergy. Professionally simplify visionary technology
            </p>
            <button class="product_btn">read more</button>
          </div>
        </div>
        <div class="product_right">
          <img src="../images/mobile-1.png" alt="" class="product_img" />
        </div>
      </div>
    </section>

    <section id="features">
      <div class="container">
        <div class="features-collection">
          <div class="inline-block item">
            <div class="icon ">
              <i class="img fas fa-magic"></i>
            </div>
            <h1 class="heading text-center">
              Creative Design
            </h1>
            <div class="text text-center">
              Proactively syndicate open-source e-markets after low-risk
              high-yield synergy
            </div>
          </div>
          <div class="inline-block item">
            <div class="icon ">
              <i class="img fas fa-gem"></i>
            </div>
            <h1 class="heading text-center">
              Exclusive Design
            </h1>
            <div class="text text-center">
              Proactively syndicate open-source e-markets after low-risk
              high-yield synergy
            </div>
          </div>
          <div class="inline-block item">
            <div class="icon ">
              <i class="img fas fa-rocket"></i>
            </div>
            <h1 class="heading text-center">
              Free Support
            </h1>
            <div class="text text-center">
              Proactively syndicate open-source e-markets after low-risk
              high-yield synergy
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="introduction">
      <div class="container">
        <div class="introduction">
          <div class="clearfix introduction-left">
            <img
              class="introduction-image"
              src="../images/mobile-2.png"
              alt=""
            />
          </div>
          <div class="introduction-right">
            <div class="introduction-heading">
              <h1 class="introduction-title">
                make business easy with us
              </h1>
              <p class="introduction-sub-title">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
            <div class="introduction-items">
              <div class="introduction-item">
                <div class="introduction-icon">
                  <i class="img fas fa-rocket fa-2x"></i>
                </div>
                <div class="introduction-content">
                  Intrinsically aggregae cutting-edge internal or "organic"
                  sources through pandemic
                </div>
              </div>
              <div class="introduction-item">
                <div class="introduction-icon">
                  <i class="img fas fa-rocket fa-2x"></i>
                </div>
                <div class="introduction-content">
                  Intrinsically aggregae cutting-edge internal or "organic"
                  sources through pandemic
                </div>
              </div>
              <div class="introduction-item">
                <div class="introduction-icon">
                  <i class="img fas fa-rocket fa-2x"></i>
                </div>
                <div class="introduction-content">
                  Intrinsically aggregae cutting-edge internal or "organic"
                  sources through pandemic
                </div>
              </div>
              <div class="introduction-item">
                <div class="introduction-icon">
                  <i class="img fas fa-rocket fa-2x"></i>
                </div>
                <div class="introduction-content">
                  Intrinsically aggregae cutting-edge internal or "organic"
                  sources through pandemic
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
