<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <header class="clearfix main-header">
      <nav class="float-right">
        <ul class="nav-list">
          <li class="inline-block item">
            <a href="" class="link">Home</a>
          </li>
          <li class="inline-block item">
            <a href="" class="link">About</a>
          </li>
          <li class="inline-block item">
            <a href="" class="link">Features</a>
          </li>
          <li class="inline-block item">
            <a href="" class="link">Screenshots</a>
          </li>
          <li class="inline-block item">
            <a href="" class="link">Team</a>
          </li>
          <li class="inline-block item dropdown">
            <a href="" class="link">
              News
              <span class="inline-block arrow"></span>
            </a>
            <ul class="list">
              <li class="item">
                <a href="" class="inline-block link">Recent News</a>
              </li>
              <li class="item">
                <a href="" class="inline-block link">News One</a>
              </li>
              <li class="item">
                <a href="" class="inline-block link">News Two</a>
              </li>
            </ul>
          </li>
          <li class="inline-block item">
            <a href="" class="link">Contact</a>
          </li>
        </ul>
      </nav>
    </header>

    <div class="container">
      <div class="collection">
        <div class="inline-block item">
          <div class="icon">
            <i class="fas fa-gem"></i>
          </div>
          <div class="heading">
            Creative Design
          </div>
          <div class="text">
            Proactively syndicate open-source e-markets after low-risk high-yield synergy
          </div>
        </div>
        <div class="inline-block item">
          <div class="icon ">
            <i class="img fas fa-gem"></i>
          </div>
          <h1 class="heading text-center">
            Creative Design
          </h1>
          <div class="text text-center">
            Proactively syndicate open-source e-markets after low-risk high-yield synergy
          </div>
        </div>
        <div class="inline-block item">
          <div class="icon">
            <i class="fas fa-gem"></i>
          </div>
          <div class="heading">
            Creative Design
          </div>
          <div class="text">
            Proactively syndicate open-source e-markets after low-risk high-yield synergy
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
