<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <header>
      <nav class="clearfix float-right">
        <ul class="nav-list">
          <li class="inline-block item">
            <a href="" class="link">Home</a>
          </li>
          <li class="inline-block item">
            <a href="" class="link">About</a>
          </li>
          <li class="inline-block item">
            <a href="" class="link">Features</a>
          </li>
          <li class="inline-block item">
            <a href="" class="link">Screenshots</a>
          </li>
          <li class="inline-block item">
            <a href="" class="link">Team</a>
          </li>
          <li class="inline-block item dropdown">
            <a href="" class="link">
              News
              <span class="inline-block arrow"></span>
            </a>
            <ul class="list">
              <li class="item">
                <a href="" class="inline-block link">Recent News</a>
              </li>
              <li class="item">
                <a href="" class="inline-block link">News One</a>
              </li>
              <li class="item">
                <a href="" class="inline-block link">News Two</a>
              </li>
            </ul>
          </li>
          <li class="inline-block item">
            <a href="" class="link">Contact</a>
          </li>
        </ul>
      </nav>
    </header>

    <div class="container">
      <!-- <div class="content">
        <div class="grandchild"><i class="fas fa-adjust"></i></div>
      </div> -->
    </div>
  </body>
</html>
