.intro {
  padding-top: 122px;
  > * {
    text-align: center;
  }

  &__sub-heading {
    margin-top: 18px;
  }

  &__actions {
    margin-top: 28px;
    .btn {
      margin: 0 auto;
    }
  }

  &__photo {
    margin-top: 60px;
  }

  &__img {
    width: 825px;
  }
}

.clients {
  margin-top: 39px;

  &__sub-heading {
    @include flex--center;
  }

  &__collection {
    margin-left: 33px;
    margin-right: 33px;
    margin-top: 59px;

    @include flex--space-between;
  }

  &__img {
    width: 97px;
  }
}

.utility {
  &__collection {
    margin-left: 15px;
    margin-right: 15px;

    @include flex--space-between;
  }
  &__img {
    height: 57px;
  }
  &__heading {
    text-transform: capitalize;
    font-size: 20px;
    line-height: 30px;
    color: $color--font-dark;
  }

  &__content {
    width: 289px;
    color: $color--info;
    @include font--16_line--26;
  }
}

.feature {
    > * {
      margin-top: 23px;
    }
  
    &__heading {
      font-size: 30px;
      line-height: 40px;
      color: $color--font-dark;
      text-transform: capitalize;
    }
  
    &__introduction {
      font-size: 15px;
      line-height: 26px;
      color: $color--info;
    }
  
    &__row {
      &__icon {
        color: #2eca8b;
        margin-right: 14px;
      }
  
      &__text {
        display: inline;
        font-size: 14px;
        line-height: 22px;
        color: $color--info;
      }
    }
  
    &__actions {
      .link__find-out {
        @include font--16_line--24;
        color: $color--primary;
        text-transform: capitalize;
      }
    }
  }
  

#analytic {
    margin-top: 197px;
    > .container {
      @include content--space-between;
  
      .analytic__left {
        .analytic__img {
          width: 540px;
        }
      }
  
      .analytic__right {
        width: 523px;
      }
    }
  }