html, body {
  margin: 0;
  background-color: #e5e5e5;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

hr {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
