$primary-color: #2F55D4;
$primary-border-color: #2F55D4;

$dark-color: #3C4858;

$info-color: #8492A6;
$light-color: #F8F9FC;

$primary-color-hover: #ffffff;
$primary-bg-color: #2f55d4;
$primary-bg-color-hover: #2f55d4;
$primary-border-color: #2f55d4;

$disabled-lighten: 15%;

$button-colors: (
    primary: (
        color: #ffffff,
        color-hover: #ffffff,
        bg-color: #2f55d4,
        bg-color-hover: #2443AC,
        border-color: #2f55d4,
    ),
    default: (
        color: #2f55d4,
        color-hover: #ffffff,
        bg-color: #ffffff,
        bg-color-hover: #2f55d4,
        border-color: #2f55d4,  
    ),
);


$font--nunito: 'Nunito', sans-serif;
$font--open-sans: 'Open Sans', sans-serif ;

$color--primary: #2F55D4;
$color--dark: #3C4858;
$color--font-dark: #161C2D;
$color--info: #8492A6;
$color--light: #F8F9FC;