$font--nunito: 'Nunito', sans-serif;
$font--open-sans: 'Open Sans', sans-serif ;

$color--primary: #2F55D4;
$color--dark: #3C4858;
$color--font-dark: #161C2D;
$color--info: #8492A6;
$color--light: #F8F9FC;