<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <header id="header--index">
      <div class="container">
        <div class="header">
          <a class="header__name">
            Landrick .
          </a>
          <nav class="nav header__nav">
            <ul class="nav__collection">
              <li class="nav__item">
                <a href="" class="nav__link">home</a>
              </li>
              <li class="nav__item dropdown">
                <a href="" class="nav__link">
                  loading
                  <i href="" class="fas fa-angle-down"></i>
                </a>
                <div class="dropdown__wrapper">
                  <ul class="dropdown__collection">
                    <li class="dropdown__item">
                      <a href="" class="dropdown__link">saas</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="" class="dropdown__link ">agency</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="" class="dropdown__link">application</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="" class="dropdown__link">studio</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="" class="dropdown__link">business</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="" class="dropdown__link">modern business</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="" class="dropdown__link">hotel</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="" class="dropdown__link">marketing</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="" class="dropdown__link">enterprise</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav__item">
                <a href="" class="nav__link">
                  page
                  <i href="" class="fas fa-angle-down arrow--down"></i>
                </a>
              </li>
              <li class="nav__item">
                <a href="" class="nav__link">docs</a>
              </li>
            </ul>
          </nav>
          <button class="btn btn--primary">
            buy now
          </button>
        </div>
      </div>
    </header>

    <main id="main--index">
      <div class="container">
        <section id="intro" class="intro">
          <div class="slogan intro__heading">
            <p class="slogan--heading">
              conduct more customer in a better way
            </p>
          </div>
          <div class="slogan intro__sub-heading">
            <p class="slogan--sub-heading">
              Launch your campaign and benefit from our expertise on designing
              and managing conversion centered bootrap4 html page
            </p>
          </div>
          <div class="intro__actions">
            <button class="btn btn--primary">
              start free trial
            </button>
          </div>

          <div class="intro__photo">
            <img src="../images/home.209c3e08.png" alt="" class="intro__img" />
          </div>
        </section>

        <section id="clients" class="clients">
          <div class="slogan clients__heading">
            <p class="slogan--heading">
              our trusted clients
            </p>
          </div>
          <div class="slogan clients__sub-heading">
            <div class="slogan--collection">
              <p class="slogan__item">
                Start working with <span class="color--primary">Landrick</span>
              </p>
              <p class="slogan__item">
                that can provide everything you need to generate awareness,
                drive traffic, connect.
              </p>
            </div>
          </div>
          <div class="clients__collection">
            <div class="clients_item">
              <img src="../images/client_1.png" alt="" class="clients__img" />
            </div>
            <div class="clients_item">
              <img src="../images/client_2.png" alt="" class="clients__img" />
            </div>
            <div class="clients_item">
              <img src="../images/client_3.png" alt="" class="clients__img" />
            </div>
            <div class="clients_item">
              <img src="../images/client_4.png" alt="" class="clients__img" />
            </div>
            <div class="clients_item">
              <img src="../images/client_5.png" alt="" class="clients__img" />
            </div>
            <div class="clients_item">
              <img src="../images/client_6.png" alt="" class="clients__img" />
            </div>
          </div>
        </section>

        <hr class="line--main" />

        <section id="utility" class="utility">
          <div class="utility__collection">
            <div class="utility__item">
              <div class="utility__photo">
                <img
                  src="../images/user.cf9b9fe5.svg"
                  alt=""
                  class="utility__img"
                />
              </div>
              <div class="utility__heading">
                easy to use
              </div>
              <div class="utility__content">
                Nisi aenean vulputate eleifend tellus vitae eleifend enim a
                Aliquam eleifend aenean elementum semper.
              </div>
            </div>
            <div class="utility__item">
              <div class="utility__photo">
                <img
                  src="../images/calendar.3f528a38.svg"
                  alt=""
                  class="utility__img"
                />
              </div>
              <div class="utility__heading">
                daily reports
              </div>
              <div class="utility__content">
                Allegedly, a Latin scholar established the origin of the
                established text by compiling unusual word.
              </div>
            </div>
            <div class="utility__item">
              <div class="utility__photo">
                <img
                  src="../images/sand-clock.a62cd0a5.svg"
                  alt=""
                  class="utility__img"
                />
              </div>
              <div class="utility__heading">
                real time zone
              </div>
              <div class="utility__content">
                It seems that only fragments of the original text remain in only
                fragments the Lorem Ipsum texts used today.
              </div>
            </div>
          </div>
        </section>

        <section id="analytic">
          <div class="container">
            <div class="analytic__left">
              <img
                src="../images/1.146ca55c.png"
                alt=""
                class="analytic__img"
              />
            </div>
            <div class="analytic__right">
              <div class="feature">
                <div class="feature__heading">
                  great product analytics with real problem
                </div>
                <div class="feature__introduction">
                  Due to its widespread use as filler text for layouts,
                  non-readability is of great importance: human perception is
                  tuned to recognize certain patterns and repetitions in texts.
                  If the distribution of letters visual impact.
                </div>
                <ul class="feature__list">
                  <li class="feature__row">
                    <i class="fas fa-check-circle feature__row__icon"></i>
                    <p class="feature__row__text">
                      Digital Marketing Solutions for Tomorrow
                    </p>
                  </li>
                  <li class="feature__row">
                    <i class="fas fa-check-circle feature__row__icon"></i>
                    <p class="feature__row__text">
                      Create your own skin to match your brand
                    </p>
                  </li>
                </ul>
                <div class="feature__actions">
                  <a href="" class="link__find-out">find out more ></a>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="notification">
          <div class="container">
            <div class="notification__left">
              <div class="feature">
                <div class="feature__heading">
                  Get Notified About Importent Email
                </div>
                <div class="feature__introduction">
                  This prevents repetitive patterns from impairing the overall
                  visual impression and facilitates the comparison of different
                  typefaces. Furthermore, it is advantageous when the dummy text
                  is relatively realistic.
                </div>
                <ul class="feature__list">
                  <li class="feature__row">
                    <i class="fas fa-check-circle feature__row__icon"></i>
                    <p class="feature__row__text">
                      Digital Marketing Solutions for Tomorrow
                    </p>
                  </li>
                  <li class="feature__row">
                    <i class="fas fa-check-circle feature__row__icon"></i>
                    <p class="feature__row__text">
                      Create your own skin to match your brand
                    </p>
                  </li>
                </ul>
                <div class="feature__actions">
                  <a href="" class="link__find-out">find out more ></a>
                </div>
              </div>
            </div>
            <div class="notification__right">
              <img
                src="../images/app_development_SVG.1744d3c9.svg"
                alt=""
                class="notification__img"
              />
            </div>
          </div>
        </section>

        <section id="feedback">
          <div class="container">
            <div class="feedback__heading">
              <p class="slogan slogan--text">
                whats our clients said about
                <span class="color--primary">Landrick</span> project
              </p>
            </div>
            <div class="feedback__sub-heading">
              <div class="slogan slogan--collection">
                <p class="slogan__item">
                  Start working with
                </p>
                <p class="slogan__item color--primary">
                  Landrick
                </p>
                <p class="slogan__item">
                  that can provide everything you need to generate awareness,
                  drive traffic, connect.
                </p>
              </div>
            </div>
            <div class="feedback__collection">
              <div class="feedback__item">
                <div class="feedback__avatar">
                  <img
                    src="../images/profile_1.jpg"
                    alt=""
                    class="feedback__avatar__img"
                  />
                </div>
                <div class="feedback__content">
                  <div class="feedback__star">
                    <i class="fas fa-star feedback__star__icon"></i>
                    <i class="fas fa-star feedback__star__icon"></i>
                    <i class="fas fa-star feedback__star__icon"></i>
                    <i class="fas fa-star feedback__star__icon"></i>
                    <i class="fas fa-star feedback__star__icon"></i>
                  </div>
                  <div class="feedback__text">
                    " It seems that only fragments of the original text remain
                    in the Lorem Ipsum texts used today. "
                  </div>
                  <div class="feedback__author">
                    <p class="feedback__author__name">
                      - Thomas Israel
                      <span class="feedback__author__job">CEO</span>
                    </p>
                  </div>
                </div>
              </div>

              <div class="feedback__item">
                <div class="feedback__avatar">
                  <img
                    src="../images/profile_2.jpg"
                    alt=""
                    class="feedback__avatar__img"
                  />
                </div>
                <div class="feedback__content">
                  <div class="feedback__star">
                    <i class="fas fa-star feedback__star__icon"></i>
                    <i class="fas fa-star feedback__star__icon"></i>
                    <i class="fas fa-star feedback__star__icon"></i>
                    <i class="fas fa-star feedback__star__icon"></i>
                  </div>
                  <div class="feedback__text">
                    " One disadvantage of Lorum Ipsum is that in Latin certain
                    letters appear more frequently than others. "
                  </div>
                  <div class="feedback__author">
                    <p class="feedback__author__name">
                      - Barbara McIntosh
                      <span class="feedback__author__job">M.D</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="get-start">
          <div class="container">
            <div class="get-start__heading">
              <p class="slogan slogan--text">
                See everything about your employee at one place.
              </p>
            </div>
            <div class="get-start__sub-heading">
              <div class="slogan slogan--collection">
                <p class="slogan__item">
                  Start working with
                </p>
                <p class="slogan__item color--primary">
                  Landrick
                </p>
                <p class="slogan__item">
                  that can provide everything you need to generate awareness,
                  drive traffic, connect.
                </p>
              </div>
            </div>
            <div class="get-start__actions">
              <button class="btn btn--primary">get started now</button>
              <button class="btn btn--default">free trial</button>
            </div>
          </div>
        </section>
      </div>
    </main>
    <footer id="main__footer">
      <div class="container">
        <div class="footer__high">
          <div class="footer__slogan">
            <p class="footer__heading">
              Landrick <span class="color--primary">.</span>
            </p>
            <p class="footer__sub-heading">
              Start working with Landrick that can provide everything you need
              to generate awareness, drive traffic, connect.
            </p>
          </div>
          <div class="footer__company">
            <p class="footer__heading">Company</p>
            <ul class="footer__list">
              <li class="footer__item">About us</li>
              <li class="footer__item">Services</li>
              <li class="footer__item">Team</li>
              <li class="footer__item">Pricing</li>
              <li class="footer__item">Features</li>
              <li class="footer__item">FAQ</li>
              <li class="footer__item">Blog</li>
              <li class="footer__item">Login</li>
            </ul>
          </div>
          <div class="footer__links">
            <p class="footer__heading">Usefull Links</p>
            <ul class="footer__list">
              <li class="footer__item">Privacy Protection</li>
              <li class="footer__item">Safe Payments</li>
              <li class="footer__item">Terms of Services</li>
              <li class="footer__item">Documentation</li>
              <li class="footer__item">Features</li>
              <li class="footer__item">Privacy Policy</li>
            </ul>
          </div>
          <div class="footer__contact">
            <p class="footer__heading">Newsletter</p>
            <p class="footer__sub-heading">
              Sign up and receive the latest tips via email.
            </p>
            <form class="footer__form">
              <div class="footer__form__title">
                Write your email
              </div>
              <div class="footer__text">
                <input type="text" name="" id="" class="footer__text__input" />
                <p class="footer__text__placeholder">
                  <i class="fas fa-envelope"></i>
                  Your email
                </p>
              </div>
              <button class="btn btn--primary">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
      <hr class="footer__line" />

      <div class="container">
        <div class="footer__low">
          <div class="footer__copyright">
            © 2020 Landrick. Develop by Themesbrand.
          </div>
          <div class="footer__payment">
            <img
              src="../images/american_express.png"
              alt=""
              class="footer__payment__img"
            />
            <img
              src="../images/discover.png"
              alt=""
              class="footer__payment__img"
            />
            <img
              src="../images/mastercard.png"
              alt=""
              class="footer__payment__img"
            />
            <img
              src="../images/paypal.png"
              alt=""
              class="footer__payment__img"
            />
            <img src="../images/visa.png" alt="" class="footer__payment__img" />
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
