body {
    height: 100vh;
}

.middle-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.middle-item { 
    background-color: #ff1919;
    color: #ffffff;
    padding: 10px;
}
