body {
    height: 100vh;
}

.inline-block {
    display: inline-block;
    background-color: yellow;
    padding: 10px;
    /* float: left; */
}

/* cách 1 */

.container:nth-child(n) { 
    /* child từ 1 đến vô tận */
    margin-left: -4px;
}

.container:first-child {
    margin-left: 0;
}

/* cách 2 */
/* .container:not(:first-child) {
    margin-left: -4px;
} */