.nav-list {
    margin-right: 10px;
    .item {
        padding-bottom: 25px;

        .link {
            color: $white;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .item:hover {
        border-color: #ffffff;
    }
}