.nav-list {
  margin-right: 10px;
  & > .item {
    padding-top: 15px;
    padding-bottom: 25px;
    border-bottom: 2px solid transparent;
    cursor: pointer;

    & > .link {
      color: $white;
      padding-left: 20px;
      padding-right: 20px;
    }

    &:hover {
      border-color: #ffffff;
    }
  }
}
